<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SanskritiSafar"
        tools:targetApi="27">

        <!-- Specify OsmDroid cache directory -->
        <meta-data android:name="org.osmdroid.ConfigProvider" android:value="org.osmdroid.config.DefaultConfigurationProvider"/>
        <meta-data android:name="org.osmdroid.cachePath" android:value="@string/osmdroid_cache_path"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LangSelectActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".ARActivity"
            android:exported="true"/>
        <activity android:name=".TrendingActivity"
            android:exported="true"/>
        <activity android:name=".LocationDetailsActivity"
            android:exported="true"/>
        <activity android:name=".ProfileActivity"
            android:exported="true"/>
        <activity android:name=".ImageDetailActivity"
            android:exported="true"/>
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>